<div class="row">
    <div class="col-3">
        <p>メモ</p>
    </div>
    <div class="col-9">
        <p>{{ item.memo }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>番号</p>
    </div>
    <div class="col-9">
        <p>{{ item.number }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>カテゴリー</p>
    </div>
    <div class="col-9">
        <p>{{ item.get_category_display }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>備考</p>
    </div>
    <div class="col-9">
        <p>{{ item.memo_ex|linebreaksbr }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>登録日</p>
    </div>
    <div class="col-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
